# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

venv/

# ==========================================================
# Runtime Data
# ==========================================================

data/

# ==========================================================
# Runtime Logs
# ==========================================================

logs/*.log
!logs/.gitkeep

# ==========================================================
# Exports
# ==========================================================

exports/*
!exports/.gitkeep

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.db