# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

venv/

# ==========================================================
# Runtime Data
# ==========================================================

data/latest_devices.csv
data/scan_history.csv

# ==========================================================
# Runtime Logs
# ==========================================================

logs/*.log
!logs/.gitkeep

# ==========================================================
# Exports
# ==========================================================

exports/*
!exports/.gitkeep

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.dbdata/
